@font-face {
    font-family: 'draegerwalbaumregular';
    src: url('w001003m-webfont.eot');
    src: url('w001003m-webfont.eot?#iefix') format('embedded-opentype'),
         url('w001003m-webfont.woff') format('woff'),
         url('w001003m-webfont.ttf') format('truetype'),
         url('w001003m-webfont.svg#draegerwalbaumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family:Arial,Helvetica,sans-serif;
}

/**Country Selection Page**/

.countrySelectionWrapper{
	width: 1065px;
	height: 560px;
	margin: 0 auto;
}

.countryTopWrapper{	
	margin-left: 10px;
	width: 1044px;
	height: 186px;
	border-bottom: 1px solid #7f8385;
	position:relative;
	*height:174px;
}

.countrySelectionWrapper .countryTopWrapper span{
	float: left;
	margin: 5px 5px 5px 0px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: 12px;
	color: #7f8385;
}

.countrySelectionWrapper .countryTopWrapper span span {
display: inline;
float: none;
line-height:25px;
}

/*
font-family: Arial,Helvetica,sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 20px;
margin-bottom: 20px;
color: #5B92D3 !important;
*/

.countrySelectionWrapper .countryTopWrapper span span{
	height: 15px;	
	display:block;
	float:none;
}

.countryList{
	margin-top: 5px;
	display: block;
	font-size: 12px;
	position: absolute;
	top: 165px;
	width: 1065px;
}

.countryList ul {
    float: left;
    font-weight: bold;
    color: #689ede;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
}

.countryList ul li{
	margin: 10px 0px 0px 0px;
	line-height: 1em;
	background: url("../images/icons.png") no-repeat scroll 0 -198px transparent;		
	color: #7F8385;
    display: block;
    line-height: 1em;
    padding-left: 10px;
}

.countryList ul li a {
    font-weight: normal;
    color: #7f8385;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;	
}

.countryList .region-0{
	width: 100px;
margin-left: 20px;
padding: 0;
}

.countryList .region-1{
	width: 130px;	
margin-left: 20px;
padding: 0;
}

.countryList .region-2{
	width: 106px;
margin-left: 20px;
padding: 0;
}

.countryList .region-3{
	width: 130px;
margin-left: 20px;
padding: 0;
}

.countryList .region-4{
	width: 140px;
margin-left: 20px;
padding: 0;
}

.countryList .region-5{
	width: 150px;
margin-left: 20px;
padding: 0;
}

.countryList .region-6{
	width: 150px;
margin-left: 20px;
padding: 0;
}

.countryTopWrapper a:link, .countryTopWrapper a:visited {
    color: #fff;
    text-decoration: none;
}

.countryList a:hover{
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight:normal;
	color: #689ede;
}

.gpButton{
	float: left;
	background: url("../images/arrow-white-btn.png") no-repeat scroll 8px 7px #689ede;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight:normal; 
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size:12px;
    margin: 20px 30px 20px 0;
    padding: 2px 8px 2px 18px;
    text-align: left;  
    clear:left;
    min-width: 260px;
}

.gpButton a {
	padding:0 5px;
	font-size:12px;
}

.countrySelectionWrapper .countryTopWrapper .gpButton span {
	white-space:nowrap;
	height: auto;
	margin: 0;
	float: none;
	color: #fff;
}

.worldmap {
	float: right;
	height: 130px;
	width: 250px;
	margin: 15px 30px;
	position:absolute;
	right:0;
	bottom:0;
}

/* --- END --- */

.divRepeater span {
    color:#fff;
    font-size:12px;
    line-height:14px;
}

.contactUs
{
    font-family:Arial,Helvetica,sans-serif;
    color:#fff;
    padding-left:20px;
    font-size: 14px;
    line-height: 3.1em;
    font-weight: 400;
}

.divRepeater
{
    padding-left:20px;
}

.divRepeater .contactFax,
.divRepeater .contactPhone,
.divRepeater .contactMail {
    background: url("../images/sprite_context.gif") no-repeat scroll 0 -600px transparent;
    padding-left:16px;
    display:block;
    margin-bottom:4px;
}

.divRepeater .contactLocation {
    float: left;
}

.divRepeater .contactState {
    float: left;
}

.divRepeater .contactFax {
    background-position: 0 -700px;
}

.divRepeater .contactMail{
    background-position: 0 -797px;
}

.divRepeater .contact {
   background-color:transparent;
}

.contactFooter {
    padding-left:20px;
}

.contactFooter a:link,
.contactFooter a {
    font-size:12px;
    color:#fff;
}

.divMaps {
    padding-bottom:10px;
    padding-top:10px;
    padding-left:10px;
    background-color:#EDF0F2;
    border-top:1px solid #fff;
}

.divMaps iframe {
    width:180px;
    height:155px;
}

.divMaps small {
    display: block;
    padding-top: 10px;
    padding-left:10px;
}

.divMaps small a {
    background:url("../images/icons.png") no-repeat scroll 0 -196px transparent;
    padding: 0 10px;
    color:#6B7074 !important;
    font-size:12px;
    display:block;
}

.divMaps small a:hover {
    color:#5b92d3 !important;
    background-position: 0 -296px;
}

.divTwitter {
    padding-bottom:10px;
    padding-left:10px;
    background-color:#EDF0F2;
    border-top:1px solid #fff;
}

.divTwitter .twtr-widget {
    width:180px;
}

.divFacebook {
    padding-left:5px;
    background-color:#EDF0F2;
    border-top:1px solid #fff;
    padding-top:10px;
}

.divFacebook iframe {
    width:180px !important;
    height:100px !important;
}

.contactFooter {
    margin-bottom:10px;
}

.searchbox {
    padding: 27px 5px 25px 20px;
}

.slot {
    padding: 27px 5px 0 20px;
    float:none !important;
}

.LinkPanel {
    border-bottom: 1px solid #FFFFFF;
    padding: 10px 10px 21px 10px;
    background: none repeat scroll 0 0 #EDF0F2;
}

.context .LinkPanel {
                width: 180px;
}

.LinkPanel h2.teaserTitle {
    color:#5B92D3;
    font-size:14px;
    margin-bottom: 13px;
   margin-left: 10px;
    margin-top: 5px;
    font-weight:normal;
    margin-right:20px;
    line-height:17px;
}
.LinkPanel a.surveyLinkButton {
	background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
	color: white;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height: 13px;
	padding: 2px 10px 2px 15px;
	text-decoration: none;
}
.LinkPanel a:hover,
.LinkPanel a.deluxeCaption:hover,
.LinkPanel a.surveyLinkButton:hover {
            text-decoration:none;
            cursor:pointer;
}

.LinkPanel a.deluxeCaption {
    color:#6B7074;
    font-size:12px;
    line-height:14px;
   margin-left:10px;
    display:block;
    margin-bottom:11px;
    margin-right:20px;
}
.LinkPanel .teaserLink {
	margin-left: 10px;
}
.deluxeImage {
    width:180px;
}

.deluxeIFrame {
    margin-left: -10px;
}

.LinkPanel .linkCaption {
    margin-left:10px;
    margin-right:20px;
    display:block;
    margin-bottom:10px;
}

.LinkPanel .teaserLinksUL {
    margin-left:10px;
}

.LinkPanel .teaserLinksUL li {
    list-style:none outside none;
   margin-left:0;
    line-height: 16px;
}

.LinkPanel .teaserLinksUL li a {
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    padding: 2px 10px 2px 15px;
    text-decoration:none;
}

#RTLink {
    border-bottom:0;
}

.MTBig {
    padding:10px;
    border: 1px solid #BCBEC0;
    width: 213px;
}

.MTBig .MTBigImage {
    width:213px;
}

.MTBig h2.MTBigTitle {
    margin: 10px 0;
    color:#5B92D3;
    font-size:12px;
    font-weight:bold;
    font-family:Arial,Helvetica,sans-serif;
}

.MTBig .MTBigCaption,
.MTBig .MTBigCaption div {
    font-size:12px;
    line-height:14px;
    color:#54595C;
    font-family:Arial,Helvetica,sans-serif;
}

.MTBig .MTBigLinks {
    margin-bottom:5px;
    padding-top:7px;
}

.MTBig .MTBigLinks ul,
.MTBig .MTBigLinks ul li {
    list-style:none inside none;
    padding:0;
    margin:0;
}

.MTBig .MTBigLinks a {
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
    display: inline-block;
    margin-bottom:1px;
}

.MTBig a.MTBigTitle {
                color: #54595C;
}

.MTBig .MTBigCaption a {
                color: #54595C;
}

.MTSmall {
    padding:10px;
    border: 1px solid #BCBEC0;
    min-height:120px;
    width: 321px;
}

.with-subnav .MTSmall {
    width: 213px;
}


.MTSmall .MTSmallImage {
    width:83px;
    float:left;
    margin-right:14px;
}

.MTSmall .MTSmallTitle {
    color:#5B92D3;
    font-size:12px;
    font-family:Arial,Helvetica,sans-serif;
}

.MTSmall .teaserLinksUL,
.MTSmall .teaserLinksLI {
    list-style:none inside none;
    margin-left:0;
}

.MTSmall .teaserLinksLI a,
.MTSmall a.MTSmallLink {
    color:#54595C;
    font-size:12px;
    font-family:Arial,Helvetica,sans-serif;
    text-decoration:none;
}

.MTSmall > div {
    padding-left:97px;
}


.MTDouble {
    padding:10px;
    border: 1px solid #BCBEC0;
    width: 321px;
}

.MTDouble .MTDoubleImage {
    width:83px;
    float: left;
    margin-right:14px;
}

.MTDouble .MTDoubleTitle {
    color:#5B92D3;
    margin-bottom:4px;
    font-size:12px;
    font-family:Arial,Helvetica,sans-serif;
}

.MTDouble a.MTDoubleLink {
    font-size:12px;
    line-height:14px;
    color:#54595C;
    font-family:Arial,Helvetica,sans-serif;
    text-decoration:none;
}

.MTDouble .MTDoubleTop {
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid #BCBEC0;
}

.MTDouble .MTDoubleBottom > div,
.MTDouble .MTDoubleTop > div {
    float:left;
    width:219px;
}

.MTDouble .doubleSeperator {
    display:none;
    background-color: #BCBEC0;
    border: medium none;
    height: 1px;
    margin: 10px 0 10px;
}

.MTDouble .MTDoubleLinks {
    padding-left:97px;
}

.MTDouble .MTDoubleLinks ul,
.MTDouble .MTDoubleLinks ul li {
    padding:0;
    margin:0;
    list-style:none inside none;
}

.MTDouble .MTDoubleLinks ul li a {
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    margin-bottom: 1px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
}

.MTDouble .MTDoubleCaption {
    margin-bottom: 8px;
}

/* easy clearing */
.MTWideYoutubeLeft:after,
.MTWideYoutube:after,
.MTOverviewSmall .MTOverviewRight .OverviewTop:after,
.MTOverviewSmall .MTOverviewRight .OverviewBottom:after,
.MTOverviewSmall .OverviewBig:after,
.MTOverviewSmall:after,
.questionBox .answer:after,
.MTYoutubeSmall:after,
.onTopButton:after,
.MTTripleSmall .MTTripleLeft .TripleBig:after,
.MTTripleSmall .MTTripleMiddle .TripleBig:after,
.MTTripleSmall .MTTripleRight .TripleBig:after,
.MTTripe .MTTripleMiddle .TripleBig .tcTxtSmall:after,
.MTTripe .MTTripleRight .TripleBig .tcTxtSmall:after,
.MTTripe .MTTripleLeft .TripleBig .tcTxtSmall:after,
.MTTripe .MTTripleMiddle .tripleTop:after,
.MTTripe .MTTripleMiddle .TripleBottom:after,
.MTTripe:after,
.MTTripe .MTTripleRight .tripleTop .tcTxtSmall:after,
.MTTripe .MTTripleRight .TripleBottom .tcTxtSmall:after,
.easyClear:after,
.MTDouble .MTDoubleBottom:after,
.MTDouble .MTDoubleTop:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.MTWideYoutubeLeft,
.MTWideYoutube,
.MTOverviewSmall .MTOverviewRight .OverviewTop,
.MTOverviewSmall .MTOverviewRight .OverviewBottom,
.MTOverviewSmall .OverviewBig,
.MTOverviewSmall,
.questionBox .answer,
.MTYoutubeSmall,
.onTopButton,
.MTTripleSmall .MTTripleLeft .TripleBig,
.MTTripleSmall .MTTripleMiddle .TripleBig,
.MTTripleSmall .MTTripleRight .TripleBig,
.MTTripe .MTTripleMiddle .TripleBig .tcTxtSmall,
.MTTripe .MTTripleRight .TripleBig .tcTxtSmall,
.MTTripe .MTTripleLeft .TripleBig .tcTxtSmall,
.MTTripe .MTTripleMiddle .tripleTop,
.MTTripe .MTTripleMiddle .TripleBottom,
.MTTripe,
.MTTripe .MTTripleRight .tripleTop .tcTxtSmall,
.MTTripe .MTTripleRight .TripleBottom .tcTxtSmall,
.easyClear,
.MTDouble .MTDoubleBottom,
.MTDouble .MTDoubleTop {
    display: inline-block;
}

/*\*/
.MTWideYoutubeLeft,
.MTWideYoutube,
.MTOverviewSmall .MTOverviewRight .OverviewTop,
.MTOverviewSmall .MTOverviewRight .OverviewBottom,
.MTOverviewSmall .OverviewBig,
.MTOverviewSmall,
.questionBox .answer,
.MTYoutubeSmall,
.onTopButton,
.MTTripleSmall .MTTripleLeft .TripleBig,
.MTTripleSmall .MTTripleMiddle .TripleBig,
.MTTripleSmall .MTTripleRight .TripleBig,
.MTTripe .MTTripleMiddle .TripleBig .tcTxtSmall,
.MTTripe .MTTripleRight .TripleBig .tcTxtSmall,
.MTTripe .MTTripleLeft .TripleBig .tcTxtSmall,
.MTTripe .MTTripleMiddle .tripleTop,
.MTTripe .MTTripleMiddle .TripleBottom,
.MTTripe,
.MTTripe .MTTripleRight .tripleTop .tcTxtSmall,
.MTTripe .MTTripleRight .TripleBottom .tcTxtSmall,
.easyClear,
.MTDouble .MTDoubleBottom,
.MTDouble .MTDoubleTop {
    display: block;
}

/* end easy clearing */



.ms-WPBody a.contactFooterLink,
.ms-WPBody a.contactFooterLink:link {
    color:#fff;
}

.MTWide {
    margin-bottom: 35px;
}

.MTWide .MTWideImage {
    width:110px;
    margin-bottom:20px;
    float: left;
    margin-right: 20px;
}

.MTWide h2.MTWideTitle {
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    color:#5B92D3;
    line-height:14px;
    margin-bottom:14px;
    /*                padding-left: 130px;*/
}

.MTWide .MTWideCaption {
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    color:#54595C;
    line-height:14.5px;
    /*                padding-left: 130px;*/
}

.MTWide .WideLinksUL {
    margin-top:13px;
    margin-left:0;
    /*                padding-left: 130px;*/
}

.MTWide .teaserLinksLI {
    margin-left:0;
    list-style:none inside none;
}

.MTWide .teaserLinksLI > a {
    background: url("../images/sprite_icons.gif") no-repeat scroll 0 -198px transparent;
    color: #54595C;
    font-family: Arial,Helvetica,sans-serif;
   font-size: 10px;
    padding: 0 0 0 12px;
    text-decoration:none;
   display:block;
    margin-bottom:1px;
}

.MTWide .teaserLinksLI > a:hover {
text-decoration:underline;
}

.MTWide > img + div {
    margin-left:130px;
}

.MTWide > img + div + div {
    margin-left:130px;
}

.MTWide > img + div + div + div {
    margin-left:130px;
}


.MTLinks,
.MTTable {
    border:1px solid #BCBEC0;
    padding:10px;
    height: auto;
}

.MTTable {
    min-height: 170px;
}

.MTTable .MTTableLeft {
    margin-right: 30px;
    width: 262px;
    float: left;
}

.MTTable .MTTableRight {
    float:left;
    width: 135px;
}

.MTZoom .MTZoomTitle,
.MTLinks .MTLinksTitle,
.MTTable .MTTableTitle {
    font-size:12px;
    color:#5B92D3;
    font-family:Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
}

.MTZoom .MTZoomCaption > div,
.MTZoom .WideLinksUL a,
.MTLinks .tableteaserLinksULBottom a,
.MTLinks .tableteaserLinksULTop a,
.MTTable .tableteaserLinksULBottom a,
.MTTable .tableteaserLinksULTop a,
.MTTable .MTTableLink > div {
    font-size:12px;
    color:#54595C;
    font-family:Arial,Helvetica,sans-serif;
}

.MTZoom .WideLinksUL a:hover,
.MTLinks .tableteaserLinksULBottom a:hover,
.MTLinks .tableteaserLinksULTop a:hover,
.MTTable .tableteaserLinksULBottom a:hover,
.MTTable .tableteaserLinksULTop a:hover,
.MTTable .MTTableLink:hover > div,
.MTLinksLinks .teaserLinksLI a:hover{
    color:#5B92D3;
    text-decoration:underline;
}

.MTTable .MTTableImage {
    float:left;
    margin-right:14px;
}

.MTTable .TableSeperator {
    background-color: #BCBEC0;
    border: 0 none;
    clear: both;
    height: 1px;
    margin: 10px 0;
}

.MTZoom .WideLinksUL a,
.MTLinks .tableteaserLinksULBottom a,
.MTLinks .tableteaserLinksULTop a,
.MTTable .tableteaserLinksULBottom a,
.MTTable .tableteaserLinksULTop a,
.MTLinksLinks .tableteaserLinksULBottom .teaserLinksLI a{
    background:url("../images/sprite_icons.gif") no-repeat scroll 0 -198px transparent;
    padding-left: 12px;
    display:block;
}

.MTZoom .WideLinksUL,
.MTZoom .WideLinksUL li,
.MTLinks .tableteaserLinksULBottom,
.MTLinks .tableteaserLinksULBottom li,
.MTLinks .tableteaserLinksULTop ,
.MTLinks .tableteaserLinksULTop li,
.MTTable .tableteaserLinksULBottom,
.MTTable .tableteaserLinksULBottom li,
.MTTable .tableteaserLinksULTop,
.MTTable .tableteaserLinksULTop li,
.MTLinksLinks .tableteaserLinksULTop,
.MTLinksLinks .tableteaserLinksULBottom{
    margin:0;
    padding:0;
    list-style:none inside none;
}

.MTLinks .tableteaserLinksULTop li a {
    list-style:none outside none;
}


.MTLinks .MTLinksBottomLinks,
.MTTable .MTTableBottomLinks {
    margin-top:10px;
}

.MTZoom .MTZoomImage {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 146px;
}

.MTZoom > div {
    margin-left:166px;
}



.MTLinks .tableteaserLinksULTop a,
.MTTable .tableteaserLinksULTop a,
.MTLinksLinks .tableteaserLinksULTop .teaserLinksLI a {
    background: url("../images/sprite_icons.gif") no-repeat scroll 0 4px transparent;
}

.MTContact:after,
.MTTable:after,
.MTTable .MTTableRight:after,
.MTTable .MTTableLeft:after,
.MTTable .MTTableTop:after,
.easyClear:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.MTContact,
.MTTable .MTTableTop,
.MTTable,
.MTTable .MTTableRight,
.MTTable .MTTableLeft,
.easyClear {
    display: inline-block;
}

.MTContact,
.MTTable .MTTableTop,
.MTTable,
.MTTable .MTTableRight,
.MTTable .MTTableLeft,
.easyClear {
    display: block;
}

.MTImageCenter {
    text-align:center;
}

.MTImageCenter .MTImageCenterCaption {
    text-align:left;
}

.MTImageCenter .MTImageCenterCaption h1.hl1 {
    color: #5B92D3 !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.MTImageCenter .MTImageCenterCaption ul {
    margin-left:0;
}

.MTImageCenter .MTImageCenterTitle {
    font-size:16px;
    font-weight:normal;
    margin-bottom:11px;
    text-align:left;
}

.MTImageCenter .MTImageCenterLink {
    font-size:12px;
    display:block;
}

.MTImageCenter .MTImageCenterLink li {
list-style: square outside none;
}

.MTImageCenter .MTImageCenterLink img {
margin-top:0px;
display:block;
}


.MTImageCenter .MTImageCenterImageDescription {
    font-size:10px;
    margin-top:12px;
    display:block;
    color:#7F8385;
    text-align:left;
}

.MTImageCenter .MTImageCenterLinks {
    margin-top:10px;
}

.MTImageCenter .MTImageCenterLinks ul,
.MTImageCenter .MTImageCenterLinks ul li {
    margin:0;
    padding:0;
   list-style:none inside none;
    text-align:left;
}

.MTImageCenter .MTImageCenterLinks ul li a {
    background: url("../images/icons.png") no-repeat scroll 0 -196px transparent;
    color: #7F8385;
    display: block;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
    padding-left: 10px;
}

.MTContact .contactTitle {
    font-size:12px;
    color:#5B92D3;
    font-weight:bold;
    padding-bottom:10px;
    margin-bottom:20px;
    display:block;
    border-bottom:1px solid #BCBEC0;
}

.MTContact .MTContactLeft {
    width:230px;
    float:left;
}

.MTContact .MTContactRight {
    float:left;
    width:220px;
}

.MTContact .MTContactLeft *,
.MTContact .MTContactRight * {
    color:#7F8385;
    font-size:12px;
    line-height:15px;
}

.MTContact .MTContactLeft span,
.MTContact .MTContactRight span {
 display:block;
}


.MTImageZoom {
    text-align:center;
    margin-bottom:43px;
}

.MTImageZoom > img{
    margin-bottom:12px;
}

.MTImageZoom .MTZoomTitle {
    text-align:left;
    color:#54595C !important;
    font-size:12px;
    line-height:17px;
    font-weight:normal;
}

.MTTableCaption{
    margin-left:97px;
}

.MTTable .MTTableLink:hover > div{
    color: #54595C;
    text-decoration:none;
}

/*.MTWideLinks{
    margin-left: 130px;
}*/

.MTSmall .tableteaserLinksULTop .teaserLinksLI a{
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    margin-bottom: 1px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
    margin-top: 10px;

        list-style:none outside none;
}

.MTWide .MTWideLinks .MTLinksTopLinks .MTLinksLinks .tableteaserLinksULTop .teaserLinksLI a {
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    margin-bottom: 1px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
}

.MTWide .MTWideLinks .MTLinksTopLinks .MTLinksLinks .tableteaserLinksULTop .teaserLinksLI:first-child a {
    margin-top: 10px;
}


.MTTripleSmall a:link,
.MTTripleSmall a,
.MTTripleBig .TripleBottom a,
.MTTripleBig .tripleTop a,
.MTTripleBig .TripleBig a {
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
            color: #FFFFFF !important;
    display: inline-block;
   font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    margin-bottom: 1px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
}

.MTTripleSmall .tripleTop,
.MTTripleSmall .TripleBottom,
.MTTripleSmall .TripleLink,
.MTTripleSmall .TripleBig,
.MTTripleBig .tripleTop,
.MTTripleBig .TripleBottom,
.MTTripleBig .TripleLink,
.MTTripleBig .TripleBig {
    border: 1px solid #BCBEC0;
    padding: 10px;
    width: 213px;
    font-size: 12px;
}

.MTTripleBig .MTTripleLeft .TripleLink .tcTxtSimple {
            font-weight:bold;
            margin-bottom: 15px;
            color:#54595C !important;
}

.MTTripleBig .MTTripleLeft .TripleLink ul {
            list-style:square inside none;
            margin:0;
}

.MTTripleBig .MTTripleLeft .TripleLink ul li a {
    color: #54595C;
    text-decoration: none;
}

.MTTripleBig .MTTripleLeft .TripleLink ul li {
            margin: 0 0 5px;
            color:#54595C !important;
list-style: square outside none;
    margin-left: 14px;
}

.MTTripleSmall .tcTxtSmall,
.MTTripleBig .tcTxtSmall,
.MTTripleBig .tcTxtBig {
    color: #5B92D3;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
                line-height: 18px;
}

.MTTripleSmall .tcTxtSmall,
.MTTripleBig .tcTxtSmall {
    font-size: 12px;
    padding-left: 90px;
                font-weight: bold;
}

.MTTripleSmall .tcImgSmall,
.MTTripleBig .tcImgSmall {
            float:left;
}

.MTTripleSmall .MTTripleLeft a,
.MTTripleSmall .MTTripleMiddle a,
.MTTripleSmall .MTTripleRight a,
.MTTripleBig .MTTripleLeft a,
.MTTripleBig .MTTripleMiddle a,
.MTTripleBig .MTTripleRight a {
            margin-left: 90px;
}

.MTTripleBig .MTTripleRight,
.MTTripleBig .MTTripleMiddle,
.MTTripleBig .MTTripleLeft {
            float:left;
min-height: 198px;
}

.MTTripleBig .MTTripleMiddle .TripleBig {
min-height: 198px;
}

.MTTripleSmall .MTTripleLeft,
.MTTripleSmall .MTTripleMiddle,
.MTTripleSmall .MTTripleRight {
            float:left;
}

.MTTripleSmall .MTTripleLeft,
.MTTripleSmall .MTTripleMiddle,
.MTTripleBig .MTTripleMiddle,
.MTTripleBig .MTTripleLeft {
            margin-right:10px;
}

.MTTripleSmall .TripleBottom,
.MTTripleSmall .tripleTop,
.MTTripleBig .TripleBottom,
.MTTripleBig .tripleTop {
            min-height:83px;
}

.MTTripleSmall .tripleTop,
.MTTripleBig .tripleTop {
            margin-bottom:10px;
}

.MTTripleSmall .MTTripleLeft .TripleBig,
.MTTripleSmall .MTTripleMiddle .TripleBig,
.MTTripleSmall .MTTripleRight .TripleBig,
.MTTripleSmall .TripleBig,
.MTTripleSmall .tripleTop,
.MTTripleSmall .TripleBottom,
.MTTripleBig .TripleBig,
.MTTripleBig .tripleTop,
.MTTripleBig .TripleBottom {
            position:relative;
                                   min-height: 83px;
}

.MTTripleSmall .MTTripleLeft .TripleBig a,
.MTTripleSmall .MTTripleMiddle .TripleBig a,
.MTTripleSmall .MTTripleRight .TripleBig a,
.MTTripleSmall .TripleBottom a,
.MTTripleSmall .tripleTop a,
.MTTripleBig .TripleBottom a,
.MTTripleBig .tripleTop a {
    bottom: 10px;
    left: 10px;
    position: absolute;
}

.MTTripleBig .TripleBig a {
    bottom: 10px;
    margin: 0;
    position: absolute;
}

.MTTripleSmall .MTTripleLeft .TripleBig a,
.MTTripleSmall .MTTripleMiddle .TripleBig a,
.MTTripleSmall .MTTripleRight .TripleBig a {
    bottom: 0;
    left: 90px;
}

hr.onTopHr {
            border-bottom: 0 none;
    border-top: 1px solid #BCBEC0;
    height: 1px;
margin-bottom: 1px;
}

a.hrBtnTop {
   color: #5B92D3 !important;
    float: right;
    text-decoration: none !important;
    background:url("../images/arrow-ontop.png") no-repeat scroll right 6px transparent;
    padding-right:16px;
    display:block;

}
div.onTopButton {
                margin-top:11px;
}

.MTYoutubeSmall .MTYoutubeSmallOne {
    border: 1px solid #BCBEC0;
    padding: 10px;
    width: 213px;
    font-size: 12px;
    float:left;
    margin-left: 10px;
}

.MTYoutubeSmall .MTYoutubeSmallOne:first-child {
    margin-left: 0;
}

.MTYoutubeSmall .MTYoutubeSmallOne a {
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
    display:inline-block;
}

.MTYoutubeSmall .MTYoutubeSmallOne span {
            display:block;
    color: #5B92D3;
    font-weight: bold;

    margin-bottom: 5px;
    min-height: 30px;
}

.searchContact .contactTeaserBox  a.button {
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 7px #BCBEC0;
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    margin-bottom: 1px;
    padding: 4px 10px 4px 15px;
    text-decoration: none;
}

.searchContact .contactTeaserBox  {
    border-bottom: 1px solid #FFFFFF;
    padding: 31px 22px 31px 22px;
}

.searchContact .big .step1 {
    background-color: #BCBEC0;
    padding: 7px;
}

.searchContact .big .step1 .label {
                color:#fff;
                display:block;
                 font-size: 12px;
}

.searchContact .big .step1 .plztext {
    border: 0 none;
    font-size:12px;
    padding: 4px;
    width: 112px;
    float: left;
}

.searchContact .big .step1 .buttonplz {
    background-color: #FFFFFF;
    border-width: 0;
    padding: 4px 3px 5px;
}

.searchContact .step2 .sublabel,
.searchContact .step2x .sublabel {
    color: #FFFFFF;
    display: block;
    font-size:12px;
    margin-top: 16px;
    padding-left: 8px;
}


.searchContact .step2 ul,
.searchContact .step2 ul li,
.searchContact .step2x ul,
.searchContact .step2x ul li {
                list-style:none inside none;
                margin:0;
                padding:0;
}

.searchContact .step2 ul li a,
.searchContact .step2x ul li a {
    background-color: #FFFFFF;
    color: #6B7074;
    display: block;
    padding: 4px;
    font-size:12px;
    text-decoration: none;
}

.searchContact .step2 ul,
.searchContact .step2x ul {
                margin-top: 10px;
}

.searchContact .step2 ul li,
.searchContact .step2x ul li {
                margin-bottom: 5px;
}

.searchContact .big .error {
                margin-top: 20px;
                color: #ffffff;
}

.MTTripleBig .tcImgCon,
.MTTripleSmall .tcImgCon{
    text-align:center;
    margin-bottom: 5px;
}

.m-llnews h2.hl2 {
    color: #5B92D3;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}

.m-llnews span.date {
    color: #005AA2;
    float: left;
    font-weight: 700;
    width: 100px;
}

.m-llnews a {
    color: #54595C !important;
    display: block;
    padding-left: 100px;
}

.m-llnews p {
    color: #54595C;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
}

.m-llnews a:hover {
    color: #5B92D3 !important;
    text-decoration: underline;
}

a.invAnchorLink {
                position:relative;
                top:-20px;
}

.googlereferrer{
    background-color: #A0A1A3;
            padding:20px;
}

.googlereferrer .googleheadline{
            color: #FFFFFF !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.1em;
    margin-bottom: 10px;
}

.googlereferrer ul,
.googlereferrer ul li{
            list-style:none;
            margin-left:0;
            padding:6px 0;
}
.googlereferrer ul{
            margin-left: 13px;
            margin-top: 5px;
}


.googlereferrer ul li{
            list-style-image: url("../images/arrow-white-btn.png");
}

.googlereferrer ul li:last-child{
            padding:4px 0 0 0;
}

.googlereferrer ul li a{
            color:#FFFFFF !important;
            font-size:12px;
}

.googlereferrer ul li a:hover{
            text-decoration:underline;
}

.sessionpoll{
            background-color: #EDF0F2;
            padding:10px;
}

.sessionpoll .sessionpollheadline{
            color: #333333;
    font-size: 13px;
    font-weight: bold;
    margin:10px 0;
    display: block;
}

.sessionpoll .sessionpolltext{
    display: block;
    margin-bottom: 70px;
	line-height: 18px;
}

.sessionpoll table tr td{
    display: inline-block;
    padding-bottom: 10px;
}

.sessionpoll table label{
    display: block;
    padding-left: 25px;
    vertical-align: middle;
}

.sessionpoll table input{
            float: left;
    width: 13px;
}

.sessionpoll input.button{

background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
color: white;
font-family: Arial,Helvetica,sans-serif;
font-size:12px;
line-height: 13px;
padding: 2px 10px 2px 15px;
text-decoration: none;
display:block;
cursor:pointer;
border:0;}

.sidebarteaser{
    width: 200px
}

#SurveyTeaser {
    position: relative;
    right: 21px;
}


.MTTripleBig a.imageTriple,
.MTTripleBig a.titleTriple {
            position:relative;
            bottom:0;
            left:0;
            right:0;
            top:0;
            margin:0;
            padding:0;
            background:none;
}

.MTTripleBig a.imageTriple {
            float:left;
}

.MTTripleBig .TripleBig a.imageTriple {
           float:none;
}

.MTTripleBig a.titleTriple,
.MTTripleSmall a.titleTriple
{
            padding-left: 90px;
            display: block;
}

.MTTripleBig .TripleBig a.titleTriple {
            padding-left:0;
}


.MTTripleBig a.titleTriple p.tcTxtSmall {
            padding-left:0;
}

.MTBig a.MTBigImageLink {
            display:block;
            margin-bottom:4px;
}

.MTBig a.MTBigTitle {
            font-weight:bold;
            color: #5B92D3;
            margin-bottom: 4px;
            font-size:12px;
            font-family: Arial,Helvetica,sans-serif;
            text-decoration: none;
            display: block;
}

.MTWide .MTWideCaption,
.MTWide .MTWideCaption a,
.MTDouble .MTDoubleLink,
.MTDouble .MTDoubleLink p,
.MTSmall .MTSmallLink a p,
.MTSmall .MTSmallLink a,
.MTBig .MTBigCaption a p,
.MTBig .MTBigCaption a {
            font-size: 12px;
            line-height: 14px;
            color: #54595C;
            font-family: Arial,Helvetica,sans-serif;
            text-decoration: none;
}

.MTSmall .MTSmallTitle a {
        font-weight:bold;
        color: #5B92D3;
        margin-bottom: 4px;
        font-size:12px;
        font-family: Arial,Helvetica,sans-serif;
        text-decoration: none;
        display: block;
}

.MTDouble .MTDoubleTitle a {
            font-weight:bold;
            color: #5B92D3;
            font-size:12px;
            font-family: Arial,Helvetica,sans-serif;
            text-decoration: none;
            display: block;
}


.MTWide h2.MTWideTitle {
            margin-bottom:0;
}

.MTWide .MTWideTitle a {
                        font-weight:bold;
            color: #5B92D3;
            margin-bottom: 4px;
            font-size:12px;
            font-family: Arial,Helvetica,sans-serif;
            text-decoration: none;
            display: block;

}

/* Login Sidebar Teaser */
.loginContainer{
	width: 200px;
}

.loginContainer .loginInfo,
.logoutContainer .logoutInfo{
            padding: 15px;
            background-color: #F7F7F9;
}

.loginContainer .loginInfo p,
.logoutContainer .logoutInfo p{
            color: #687274;
}

.loginContainer .loginInfo h2,
.logoutContainer .logoutInfo h2{
            color: #5B92D3;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.loginContainer .login,
.logoutContainer .logout{
            padding:20px;
            background: url("../images/bg-sidebar.png") no-repeat scroll 20px top #A0A1A3;
            border-bottom: 1px solid white;
}

.loginContainer .login .containerFieldset .field span{
            display: block;
    float: left;
    font-size: 12px;
    line-height: 23px;
    width: auto;
    color:#ffffff;
}

.loginContainer .login .containerFieldset .field input{
    color: #54595C;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 3px;
    width: 95%;
}

.loginContainer .login .containerFieldset .loginButton,
.logoutContainer .logout .containerFieldset .logoutButton,
.logoutContainer .logout .containerFieldset .manageButton
{

    background: url("../images/arrow-link-bg.png") no-repeat scroll 8px center #687274;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 0;
    padding: 2px 16px;
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
    float:right
}

.logoutContainer .logout .containerFieldset .logoutButton,
.logoutContainer .logout .containerFieldset .manageButton
{
    float:left
}

.loginContainer .login .containerFieldset .infoText{
    background: url("../images/arrow-link-bg.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 3px;
    padding-left: 9px;
    text-decoration: none;
}

.loginContainer .login .containerFieldset .infoText a{
    color: #FFFFFF;
}

a.contactFooterLink,
a.contactFooterLink:hover,
a.contactFooterLink:link,
a.contactFooterLink:focus,
a.contactFooterLink:active,
a.contactFooterLink:visited 
{
	color: #ffffff;
	background: url("../images/sprite_context.gif") no-repeat scroll 0 -797px transparent;
	padding-left: 16px;
	display: block;
	font-size: 12px;
}

.ie7 a.contactFooterLink,
.ie7 a.contactFooterLink:hover,
.ie7 a.contactFooterLink:link,
.ie7 a.contactFooterLink:focus,
.ie7 a.contactFooterLink:active,
.ie7 a.contactFooterLink:visited 
{
	background-position: 0 -798px;
}

.MTWide .imageContainer{
	float: left;
	width: 130px;
}

.MTWide .textContainer{
	margin-left: 130px;
}

.MTWide .textContainer a.captionLink:hover{
	text-decoration:none;
}

.wrapperQuestionnaire .questionBox {
	border-top: 1px solid #BDBDBD;
	font-size: 12px;
	padding: 20px 5px;
}

.wrapperQuestionnaire .questionBox h2 {
	font-weight:bold;
	font-size:12px;
	margin:0;
}

.wrapperQuestionnaire .questionBox .field {
	float:left;
	width:350px;
	margin-top:10px;
}

.wrapperQuestionnaire .questionBox .field input {
	margin-right: 7px;
	cursor:pointer;
}

.wrapperQuestionnaire .questionBox .field label {
	position: relative;
	bottom: -2px;
	cursor:pointer;
}

.wrapperQuestionnaire .txtext {
	font-size:12px;
	display:block;
	width:440px;
}

.wrapperQuestionnaire > input,
.wrapperQuestionnaire .voteBtn {
	background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #a1a2a3;
	color: white;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height: 13px;
	margin-bottom: 1px;
	padding: 2px 10px 2px 15px;
	text-decoration: none;
	border:0;
	cursor:pointer;
}

.ie7 .wrapperQuestionnaire > input,
.ie7 .wrapperQuestionnaire .voteBtn {
	background-position:6px 7px;
}

.wrapperQuestionnaire > input {
	margin: 20px 0 40px 0;
}

.wrapperQuestionnaire .questionBox .error {
	border: 1px solid red;
    margin-top: 5px;
    padding: 5px;
}

.wrapperQuestionnaire .questionBox .errorText{
    color: red;
    margin: 5px 0;
}

/**********************************************

Start Poll Questions

**********************************************/

.wrapperVote .vote {
    width: 725px;
    margin: 25px auto;
}

.with-subnav .wrapperVote .vote{
    width: 460px;
    margin: 0;
}

.wrapperVote .voteDescription {
    width: 450px;
}
.wrapperVote .voteDescription h2 {
  	font-size: 18px;
	line-height: 20px;
   	font-weight: 400;
}
.wrapperVote .voteDescription p {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 17px;
}
.wrapperVote .voteOptions {
    width: 725px;
	margin: 15px 0 0 0;
	padding:  0 10px 15px 20px;
    border: 1px solid #dddddd;
}

.with-subnav .wrapperVote .voteOptions {
    width: 460px;
}

.wrapperVote .voteOptions p.field {
	display: block;
	margin: 15px 0 15px 0;
	padding: 0;
	font-size: 12px;
	line-height:17px;

}

.wrapperVote .voteOptions p.field label{
	padding-left: 5px;
    position: relative;
    top: 1px;
}


.wrapperVote .voteBtn {
    margin: 10px 0 0 0;
    background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 7px #A2A2A2;

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    display: inline;
    line-height: 13px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
    border: none;
}

.ie7 .wrapperVote .voteBtn,
.ie8 .wrapperVote .voteBtn,
.ie9 .wrapperVote .voteBtn {
	padding: 2px 10px 2px 15px;
}

/**********************************************

End of Poll Questions

**********************************************/

/**********************************************

Dynamic Content Ad-Teser

**********************************************/

.AdTeaserLarge
{
    margin-top: 40px; 
    margin-bottom: 50px;
}

.AdTeaserSmall
{
    margin-bottom: 40px;
}

/**********************************************

End of Dynamic Content Ad-Teser

**********************************************/

/**********************************************

Poll Result Percentage Bars

**********************************************/
.wrapperPoll{
	margin-top: 15px;
}

.wrapperPoll .poll {
    width: 725px;
    margin:  100px auto;
}

.with-subnav .wrapperPoll .poll {
    width: 460px;
    margin: 0;

}
.wrapperPoll .poll p {
	 font-size: 12px;
	line-height: 17px;
	color: #54595C;
	font-family: Arial,Helvetica,sans-serif;
}
.wrapperPoll .poll h2 {
	font-size: 18px;
	line-height: 20px;
   	font-weight: 400;
}


.wrapperPoll .pollDescription {
    width: 450px;
}
.wrapperPoll .pollDescription p {
    display: block;
    margin-top: 10px;
}
.wrapperPoll .pollResult {
    width: 725px;
    border: 1px solid #dddddd;
   	margin: 15px 0 0 0;
   	padding:0;

}

.with-subnav .wrapperPoll .pollResult {
    width: 490px;
}

.wrapperPoll .pollResult ul li div{
    width: 685px;
}


.with-subnav .wrapperPoll .pollResult ul li div{
    width: 450px;
}


.wrapperPoll .pollResult ul {
    list-style: none outside none;
    margin: 20px 0 10px 0;
}
.wrapperPoll .pollResult li {
	list-style: none outside none;
}
.wrapperPoll p.answerText {

	display:block;
	margin-bottom: 7px;
}
.wrapperPoll .answerBarPercent {
    float: left;
    display: block;
    height: 20px;
    line-height:20px;
    font-size: 20px;
    color: #5B92D3;
    margin-left: 30px;
}
.wrapperPoll .answerBar {
    background: #5B92D3;
    height: 20px;
    float: left;
    margin-bottom: 15px;

}



/***************************************************

Poll Result End

***************************************************/
/***************************************************

Accreditation Start

***************************************************/

.wrapperAccreditation .description  {
    color: #5B92D3;
    font-size: 14px;
    margin-top: 10px;
}
.wrapperAccreditation .evaluationFieldsOne,
.wrapperAccreditation .evaluationFieldsTwo,
.wrapperAccreditation .evaluationFieldsThree,
.wrapperAccreditation .evaluationFieldsFour,
.wrapperAccreditation .evaluationFieldsFive {
	margin-top: 15px;
}


.wrapperAccreditation .evaluationFieldsOne h3,
.wrapperAccreditation .evaluationFieldsTwo h3,
.wrapperAccreditation .evaluationFieldsThree h3,
.wrapperAccreditation .evaluationFieldsFour h3,
.wrapperAccreditation .evaluationFieldsFive h3 {
    font-size: 12px;
    line-height: 17px;
    font-weight: normal;
    color: #5B92D3;
}
.wrapperAccreditation .evaluationFieldsOne p,
.wrapperAccreditation .evaluationFieldsTwo p,
.wrapperAccreditation .evaluationFieldsThree p,
.wrapperAccreditation .evaluationFieldsFour p,
.wrapperAccreditation .evaluationFieldsFive p {
	font-size: 12px;
    line-height: 17px;
    display: block;
    margin-top: 10px;
}

.wrapperAccreditation p.field {
    display: inline-block;
    margin-left: 20px;
}

.wrapperAccreditation span.textareaComment {
    font-size: 90%;
    display: block;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 20px;
}
.wrapperAccreditation .textarea {
    width: 600px;
    height: 100px;
    resize: none;
    border: 1px solid #BCBEC0;
    font-size: 0.8em;
	color: #7F8385;
}

.wrapperAccreditation .finishBtn {

    margin-top: 20px;
    background: #A2A2A2;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    display: inline;
    line-height: 13px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    border: none;

}



/***************************************************

Accreditation End

***************************************************/

/***************************************************

Web Parts

***************************************************/

.MTLinkSource {
	width: 217px;
	float: left;
	background: #ECF0F3;
	padding: 10px;
}

.MTLinkSource .MTLinksTopLinks h2.MTLinksTitle {
	font: normal 14px Arial;
	color: #5B92D3;
	font-weight: normal;
}

.MTLinkSource .MTLinksTopLinks .MTLinksLinks ul li.teaserLinksLI a{
	color: #6b7074;
	padding-left: 10px;
	font: 11px Arial;
}

.MTLinkSource .MTLinksTopLinks .MTLinksLinks ul li.teaserLinksLI a:hover,
.MTLinkSource .MTLinksTopLinks .MTLinksLinks ul li.teaserLinksLI a:visited{
	color: #6b7074;
}

.MTLinkSource .MTLinksTopLinks .MTLinksLinks ul li.teaserLinksLI{
	margin-left: 0;
}
	
.MTLinkSource .MTLinksBottomLinks h2{	
	color: #5B92D3;
    font: 14px Arial;
    font-weight: normal;
}

.MTAuthor {
	width:470px;
	padding: 10px;
	background: #ECF0F3;
}

.MTAuthor .textContainer a:hover {
	text-decoration: none;
	cursor:pointer;
}

.MTAuthor .textContainer .tableteaserLinksULBottom li {
	margin-left: 0;
}

.MTAuthor .textContainer .tableteaserLinksULBottom{
	margin-top: 5px;
}

.MTAuthor h3.MTAuthorTitle a {
	font: 14px Arial;
    color: #5B92D3;
}

.MTAuthor .imageContainer{
	float:left;
	width:110px;
}

.MTAuthor .textContainer{
	margin-left: 125px;
}

.MTAuthor  .MTClickableImage img{
	width: 490px;
} 

/**************

	Forum Sign Up Welcome

***************/

h3.WPSignUpTitle {
    width: 450px;
	font: normal 18px Arial;
	color: #5b92d3;
}

.WPSignUpCaption {
    width: 450px;
	font: normal 12px/17px Arial;
	color: #54595c;
	margin: 20px 0 20px 0;
}
.WPSignUpLinks a.SignUpLink,
.WPSignUpLinks a.LoginLink
 {
	background: #a2a2a2 url("../images/arrow-white-btn.png") 5px center no-repeat;
	font: normal 11px/13px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #ffffff !important;
	padding: 2px 10px 2px 15px;
	display:inline-block;
	margin: 0 10px 20px 0;
}

.WPSignUpLinks a.SignUpLink:visited,
.WPSignUpLinks a.LoginLink:visited {
	color: #ffffff;
}

/* Press Center */

.pressCenter  a {
    background: url("../images/arrow-white-btn.png") no-repeat scroll 5px center #A2A2A2;
    color: #FFFFFF !important;
    display: inline-block;
    font: 11px/13px Arial,Helvetica,sans-serif;
    margin: 10px 10px 20px 0px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
}

.pressCenter  a:hover,
.pressCenter  a:visited,
.pressCenter  a:active
{
    color: #FFF !important;
    text-decoration:none;
}


.binnenteaser .pressCenter a,
.binnenteaser .pressCenter a:hover{
	background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
    color: #FFFFFF !important;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    margin-bottom: 1px;
	margin-top: 17px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;
}

.MTTripleBig .tcImgBig {
	max-width: 213px;
	max-height: 135px;
}

.MTTripleBig .tcImgSmall {
	max-width: 80px;
	max-height: 70px;
}

.MTImageCenter .MTImageCenterImage {
max-width:490px;
}





.MTOverviewSmall {
	border:1px solid #bdbec0;
	padding:15px 13px;
}

.MTOverviewSmall .MTOverviewLeft {
	float:left;
	margin-right:13px;
	width:462px;
}

.MTOverviewSmall .MTOverviewRight {
	float:right;
	width:222px;
}

.MTOverviewSmall .MTOverviewLeft .OverviewBig .tcTxtCon {
	float:left;
	width: 219px;
	padding-right: 13px;
	position:relative;
	padding-bottom: 30px;
}

.MTOverviewSmall .MTOverviewLeft .OverviewBig .tcImgCon {
	float:right;
	width:230px;
}

.MTOverviewSmall .MTOverviewLeft .OverviewBig .tcImgCon img {
	width:230px;
	height:173px;
}

.MTOverviewSmall .MTOverviewLeft .OverviewBig .titleOverview:hover,
.MTOverviewSmall .MTOverviewLeft .OverviewBig .titleOverview {
	text-decoration:none;
	color: #689ede !important;
}

.MTOverviewSmall .MTOverviewLeft .OverviewBig .tcTxtBig {
	color: #689ede !important;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
	margin-bottom: 15px;
}

.MTOverviewSmall .MTOverviewLeft .OverviewBig .tcTxtSimple {
	font-size:12px;
	color:#54595C;
	line-height:17px;
	text-decoration:none;
}

.MTOverviewSmall .MTOverviewLeft .OverviewBig .tcTxtSimple ul {
	margin-left: -4px;
	list-style-type: square;
}

.MTOverviewSmall .MTOverviewRight .linkOverview,
.MTOverviewSmall .MTOverviewLeft .OverviewBig .linkOverview {
	background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 7px #a0a1a3;
	color: white !important;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height: 16px;
	margin-top: 10px;
	padding: 2px 10px 2px 15px;
	text-decoration: none;
	position: absolute;
}

.MTOverviewSmall .MTOverviewLeft .OverviewBig .linkOverview {
	bottom:0;
	left:0;
}

.MTOverviewSmall .MTOverviewRight .tcTxtCon {
	float:right;
	width:128px;
}

.MTOverviewSmall .MTOverviewRight .tcTxtCon .titleOverview:hover,
.MTOverviewSmall .MTOverviewRight .tcTxtCon .titleOverview {
	text-decoration:none;
}

.MTOverviewSmall .MTOverviewRight .tcImgCon {
	float:left;
	width:82px;
	height:70px;
}

.MTOverviewSmall .MTOverviewRight .tcImgCon img {
	width:82px;
	height:70px;
}

.MTOverviewSmall .MTOverviewRight .tcTxtSmall {
	font-size:12px;
	line-height:13px;
	color:#5b92d3;
	font-weight:bold;
}

.MTOverviewSmall .MTOverviewRight .OverviewTop {
	border-bottom:1px solid #bdbec0;
	position:relative;
	padding-bottom: 16px;
}

.MTOverviewSmall .MTOverviewRight .OverviewBottom {
	position:relative;
	padding-top: 16px;
}

.MTOverviewSmall .MTOverviewRight .linkOverview {
	bottom:15px;;
}

.MTOverviewSmall .MTOverviewRight .OverviewBottom .linkOverview {
    bottom:0;
}

.MTFlexLeft,
.MTFlex {
	position:relative;
}

.MTFlexLeft .content,
.MTFlex .content {
	position:absolute;
	width:252px;
	padding:20px 10px;
	bottom:0;
	left:20px;
	background:#fff;
}

.MTFlexLeft .content {
	left:auto;
	right:20px;
}

.MTFlexLeft,.Title,
.MTFlex .Title {
	margin-bottom:10px;
	font-family:Georgia;
	font-size:20px;
}

.MTFlexLeft .MTFlexCaption,
.MTFlex .MTFlexCaption {
	margin-bottom:15px;
	font-size:12px;
}

.MTFlexLeft .link a,
.MTFlex .link a {
	background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #5B92D3;
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height: 13px;
	padding: 2px 10px 2px 15px;
	text-decoration: none;
	display: inline-block;
}
	







.MTWideYoutubeLeft,
.MTWideYoutube {
	width:685px;
	border:1px solid #bdbec0;
	padding:20px;
}

.MTWideYoutubeLeft .youTubeTitle,
.MTWideYoutube .youTubeTitle {
	font-size:18px;
	line-height:18px;
	color:#6b7074;
	margin-bottom:13px;
	display:block;
		font-family: 'draegerwalbaumregular';
}

.MTWideYoutubeLeft .youTubeSubTitle,
.MTWideYoutube .youTubeSubTitle {
	font-size:31px;
	line-height:31px;
	color:#6b7074;
	margin-bottom:9px;
	display:block;
		font-family: 'draegerwalbaumregular';
}

.MTWideYoutubeLeft .youTubeDescription,
.MTWideYoutube .youTubeDescription {
	font-size:12px;
	line-height:17px;
	color:#54595c;
	margin-bottom:15px;
	display:block;
}

.MTWideYoutubeLeft .textContainer,
.MTWideYoutube .textContainer {
	margin-right:40px;
	width: 360px;
	float:left;
}

.MTWideYoutubeLeft .textContainer {
	float:right;
	margin-left:40px;
	margin-right:0;
}

.MTWideYoutubeLeft .videoContainer,
.MTWideYoutube .videoContainer {
	float:right;
	width:285px;
/*	height:185px;*/
}

.MTWideYoutubeLeft .videoContainer {
	float:left;
}

.ms-WPBody .MTWideYoutubeLeft .youTubeButton,
.ms-WPBody .MTWideYoutube .youTubeButton {
	background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 7px #5B92D3;
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height: 13px;
	padding: 4px 10px 4px 15px;
	text-decoration: none;
	display: inline-block;
}



/*TripleColumn Teaser*/
 
.MTTripleSmall a.imageTriple,
.MTTripleSmall a.titleTriple {
	position: relative !important;
}

.MTTripleSmall .imageTriple,
.MTTripleSmall .titleTriple {
	left: 0!important;
	padding-left: 0!important;
}

.MTTripleSmall a.imageTriple {
	float: left;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
}

.ie7 .MTTripleSmall .imageTriple,
.ie8 .MTTripleSmall .imageTriple {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.MTTripleSmall .tcImgSmall {
    max-height: 70px;
    max-width: 80px;
}
 
.MTTripleSmall a.titleTriple {
	margin-top: 10px;
	margin-left: 95px !important;
	background: none !important;
}

.MTTripleSmall .titleTriple .tcTxSmall {
	color: #5B92D3;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;	
    line-height: 18px;
    margin-bottom: 5px;
}

.MTTripleSmall a.linkTriple {
	bottom: 10px !important;
    left: 15px !important;
    position: absolute !important;
}

.MTTripleSmall .tcTxtSmall {
    padding-left: 0 !important;
}


.MTTripleBig .TripleLink {
    position: relative;
}

.MTTripleBig .TripleLink a {
	bottom: 10px !important;
    left: 10px;
    margin: 0 !important;
    position: absolute !important;
}

.MTTripleBig .TripleLink a{
	background: url("../images/arrow-white-btn.png") no-repeat scroll 6px 5px #A2A2A2;
    color: #FFFFFF !important;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height: 13px;
    margin-bottom: 1px;
    padding: 2px 10px 2px 15px;
    text-decoration: none;	
}

.MTTripleBig .MTTripleMiddle .TripleLink .tcTxtSimple,
.MTTripleBig .MTTripleRight .TripleLink .tcTxtSimple {
    color: #54595C !important;
    font-weight: bold;
    margin-bottom: 15px;
}

.MTTripleBig .MTTripleMiddle .TripleLink ul,
.MTTripleBig .MTTripleRight .TripleLink ul {
    list-style: square inside none;
    margin: 0;
}

.MTTripleBig .MTTripleMiddle .TripleLink ul li,
.MTTripleBig .MTTripleRight .TripleLink ul li {
    color: #54595C !important;
    list-style: square outside none;
    margin: 0 0 5px 14px;
}








